body{
	margin: 20px;
}

.clear{
	width: 100%;
	clear: both;
}

.tweet{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

.avatar{
	float: left;
	margin-right: 5px;
}

.negative{
	background: #ffd9d9;
	border: 1px solid #ff1616;
}

.positive{
	background: #befcc9;
	border: 1px solid #16ff42;
}

.neutral{
	background: #e0e0e0;
	border: 1px solid #818181;
}